<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>로그인폼</title>
</head>
<body>
	<main>
		<table>
			<form id="loginForm" action="/doLogin" method="post">
				<div th:if="${param.error}">
        <p style="color: red;">로그인에 실패했습니다. 다시 시도하세요.</p>
   				 </div>
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
				<div>아이디</div>
				<input type="text" name="USERID" value="username">
				<div>비밀번호</div>
				<input type="text" name="USERPWD" value="userpwd">
				<p>
				<button type="submit">로그인</button>
				<button type="reset">취소</button>
				<a href="http://localhost/user/register">회원가입</a>
		</table>
	</main>
</body>
</html>