<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>주문내역</title>
<style>
.searchdiv {
    display: flex;
    justify-content: center; /* 가로 방향에서 중앙 정렬 */
    align-items: center; /* 세로 방향에서 중앙 정렬 */
    margin: 10px 0; /* 상하 마진 추가로 조정 */
}
	
.image1 {
width: auto;
height: 150px;
}
	 
.all {
margin: 0 auto;
}

h2 {
	text-align:center;
}

table {
font-family: Arial, sans-serif;
margin: 0 auto;
border: 5px solid black;
border-collapse: collapse;
}

td {
    border: 5px solid black;
    padding: 8px;
}
</style>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script type="text/javascript">

// 체크삭제
function delcheck(){
	var obj = {};
	obj.checked = $('#cartForm').serialize();
	if(obj.checked==""){
		alert('체크된 항목이 없습니다');
		return null;
	}
	$.ajax({
		url:'/cart/delete',
		method:'delete',
		cache:false,
		data: obj,
		dataType:'json',
		beforeSend : function(xhr) {
			xhr.setRequestHeader("[[${_csrf.headerName}]]", "[[${_csrf.token}]]");
		},
		success:function(res){
			if(res.deleted) alert('삭제성공');
			location.reload();
		},
		error:function(xhr,status,err){
			alert(status+", "+ err);
		}
	});
};

// 구매페이지로 이동 // 체크한 것들만 뜨게 한다
function buypage(){
	var check = $('#cartForm').serialize();
	//alert(check);
	if(check==""){
		alert('체크된 항목이 없습니다');
		return null;
	}
	
	document.getElementById('cartForm').submit();
}

// 전체선택 기능
$(document).ready(function() {
	$("#selectAll").click(function() {
		// 모든 체크박스의 상태 확인(올체크 상태에서 누르면 모두 체크 해제하는 기능을 위한 코드)
		var isAllChecked = $("input:checkbox[name=check]").length === $("input:checkbox[name=check]:checked").length;
		// 모두 체크되어 있다면 모두 체크 해제, 아니면 모두 체크
		$("input:checkbox[name=check]").prop('checked', !isAllChecked);
	});
});

function receipt(oNum,productName){
	if(!confirm('물품을 수령하셨습니까?')) return;
	$.ajax({
		url:'/cart/receipt',
		method:'POST',
		cache:false,
		data: {oNum: oNum, productName: productName},
		dataType:'json',
		beforeSend : function(xhr) {
			xhr.setRequestHeader("[[${_csrf.headerName}]]", "[[${_csrf.token}]]");
		},
		success:function(res){
			if(res.receipted) alert('수령완료');
			location.reload();
		},
		error:function(xhr,status,err){
			alert(status+", "+ err);
		}
	});
}

// 검색란 비어있으면 알림
$(document).ready(function() {
    document.getElementById('searchForm').onsubmit = function(event) {
        var searchdate1 = document.getElementById('searchdate1').value;
        var searchdate2 = document.getElementById('searchdate2').value;
        if (searchdate1.trim() === '' || searchdate2.trim() === '') {
            alert('입력란이 비어있습니다');
            event.preventDefault(); // 이벤트(서버로 전송) 취소
        }
    };
});
	
</script>
</head>
<body>
<div class="all">
	
	<h2>주문내역</h2>
	
	<!-- 날짜로 검색 -->
	<form class="searchdiv" id="searchForm" action="/cart/searchdate" method="GET">
	    <input type="date" id="searchdate1" name="searchdate1">&nbsp;부터&nbsp;
	    <input type="date" id="searchdate2" name="searchdate2">&nbsp;까지&nbsp;
	    <button type="submit">검색</button>
	</form>
	
	<div class="searchdiv" th:if="${searchdate1 != '' || searchdate2 != ''}" th:text="'\''+${searchdate1}+'\''+' 부터 ' + '\'' + ${searchdate2} + '\'' + ' 까지 검색 결과'"></div>
	
    <table>
        <tr>
			<th></th>
			<th>배송상태</th>
            <th>상품이미지</th>
            <th>상품이름</th>
            <th>상품사이즈</th>
            <th>가격</th>
            <th>날짜</th>
            <th>물품수령</th>
            <th>배송정보 보기</th>
			<th>리뷰작성 하기</th>
        </tr>
        <tr th:each="uo,i : ${usersOrderList}">
			<td th:text="${i.index+1}"></td>
			<td th:text="${uo.status}"></td>
			<td><img class="image1" th:src="${uo.imgSrc}"></td>
			<td th:text="${uo.productName}"></td>
			<td th:text="${uo.size == 0 ? 'S' : uo.size == 1 ? 'M' : uo.size == 2 ? 'L' : uo.size == 3 ? 'XL' : uo.size == 4 ? 'XXL' : '-'}"></td>
			<td th:text="${uo.productPrice} +' × '+${uo.orderQty}+' = '+${uo.totalPrice}+' 원'"></td>
			<td th:text="${uo.pdate}"></td>
			<td>
				<span th:text="${uo.orderResult == 1 ? '배송준비중' : uo.orderResult == 2 ? '배송중' : uo.orderResult == 3 ? '배송완료' : '취소or결제 ???'}"></span>
				<a th:if="${uo.orderResult != 3}">
					<button type="button" th:attr="onclick=|receipt('${uo.oNum}', '${uo.productName}');|">물품<br>수령 확인</button>
				</a>
			</td>
			<td>
				<a th:if="${uo.orderResult ==1}" th:href="'orderInfo/'+${uo.oNum}"><button>배송정보<br> 확인/변경</button></a>
				<a th:if="${uo.orderResult !=1}" th:href="'orderInfo/'+${uo.oNum}"><button>배송정보<br> 확인</button></a>
			</td>
			<td>
				<a th:href="@{/mypage/review(productName=${uo.productName})}"><br>
					<button>리뷰 작성하기</button></a>
			</td>
        </tr>
    </table>
    <a href="/cart/list"><button>장바구니로 이동</button></a>
</div>
</body>
</html>
